.App {
  text-align: center;
}

body {
  background: #aaa;
  --widthInput: 450px;
}

.scoreboard {
  margin: auto;
  width: 700px;
  display: grid;
  grid-template-columns: 60px 70px 55px repeat(2, 70px) 60px 90px;
  gap: 20px;
} 

.headerItem {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  text-transform: capitalize;
}

.time {
  gap: 20px;
}

#closeBtn {
  padding: 0;
  width: 24px;
  height: 24px;
  border-radius: 8px;
  line-height: 1;
  font-size: larger;
  position: absolute;
  top: 4px;
  right: 10px;
}

.dropdown {
  background-color: #444;
  width: var(--widthInput);
  font-size: 16px;
  color: #eee;
  border-radius: 2px;
  position: absolute;
  z-index: 100;
}