.App {
  text-align: center;
}

body {
  background: #aaa;
}

.scoreboard {
  margin: auto;
  width: 700px;
  display: grid;
  grid-template-columns: 60px 70px 55px repeat(2, 70px) 60px 90px;
  gap: 20px;
} 

.headerItem {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  text-transform: capitalize;
}

.time {
  gap: 20px;
}